* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f5f5f5;
}

.container {
    display: flex;
    width: 100%;
    background-color: #fff;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    border-radius: 14px;
    overflow: hidden;
    height: 100%;
}

.image-section {
    flex: 1;
    background-size: cover;
}

.login-section {
    flex: 1;
    padding: 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.login-section h1 {
    margin-bottom: 20px;
    font-size: 24px;
    font-weight: bold;
    color: #333;
}

.login-section h2 {
    margin-bottom: 10px;
    font-size: 18px;
    color: #666;
}

.input-group {
    margin-bottom: 20px;
}

.input-group label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
    color: #333;
}

.input-group input {
    width: 60%;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-size: 16px;
}

.login-button {
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    width: 60%;
}

.login-button:hover {
    background-color: #0056b3;
}

.login-section p {
    margin-top: 20px;
    font-size: 14px;
    color: #666;
}

.login-section a {
    color: #007bff;
    text-decoration: none;
}

.login-section a:hover {
    text-decoration: underline;
}

/* Responsive styling */
@media (max-width: 768px) {
    body {
        background-image: url('/assets/image/login-illustration.png');
        background-repeat: no-repeat;
        background-size: cover;
    }
    .container {
        flex-direction: column;
        width: 90%;
        height: auto;
    }
    
    .image-section {
        display: none;
    }

    .login-section {
        padding: 20px;
    }

    .login-section h1 {
        font-size: 20px;
    }

    .login-section h2 {
        font-size: 16px;
    }

    .input-group input {
        font-size: 14px;
        width: 100%;
    }

    .login-button {
        font-size: 14px;
        width: 100%;
    }

    .login-section p {
        font-size: 12px;
    }
}
