body {
    margin: 0;
    font-family: 'Inter', sans-serif;
    display: flex;
    height: 100vh;
    background-color: #f9f9f9;
    overflow: hidden;
    /* Prevents page scrolling */
}

.sidebar {
    width: 230px;
    padding: 32px;
    font-family: 'Montserrat', sans-serif;
    height: 100%;
    overflow: auto;
    /* Allows scrolling within the sidebar if needed */
}

.sidebar .logo {
    margin-bottom: 30px;
    display: flex;
    align-items: center;
}

.logo-name {
    font-size: 26px;
    font-weight: normal;
    color: #111111;
    margin-left: 0.5rem;
}

.sidebar .menu {
    list-style: none;
    padding: 0;
}

.sidebar .menu-item {
    margin-bottom: 20px;
}

.sidebar .menu-item a {
    text-decoration: none;
    color: #333;
    font-size: 16px;
    display: flex;
    font-weight: normal;
    align-items: center;
    padding: 12px;
    display: flex;
    justify-content: center;
    border-radius: 10px;
}

.sidebar .menu-item.active a {
    background-color: #0096FF;
    color: white;
}

.menu-item.active a:hover {
    transition: all;
    opacity: 80%;
    transition-duration: 200ms;
}

.menu-item.logout a {
    background-color: #F9F1F1;
    color: #E45A5A;
}

.icon-menu {
    margin-right: 0.5rem;
}

.overview {
    font-size: 14px;
    color: #000000;
    font-weight: normal;
    margin-bottom: 30px;
}

.vertical-line {
    width: 2px;
    height: 100vh;
    background-color: #E1E1E1;
}

.main-content {
    flex: 1;
    padding: 32px;
    overflow: auto;
    /* Allows scrolling within the main content */
}

.header {
    font-family: 'Montserrat', sans-serif;
    margin-bottom: 25px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header h1 {
    margin: 0;
    margin-bottom: 2px;
    font-size: 34px;
    font-weight: 500;
    color: #111111;
}

.header p {
    margin: 0;
    color: #4D4D4D;
    font-weight: normal;
    font-size: 19px;
}

.header span {
    color: #111111;
    font-weight: 500;
    font-size: 19px;
}

.content {
    background-color: rgba(252, 252, 252, 0.1);
    padding: 28px;
    box-shadow: 0px 20px 50px rgba(0, 0, 0, 0.07);
    border-radius: 20px;
}

.controls {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.search-bar {
    position: relative;
    display: inline-block;
}

.search-bar input {
    padding: 10px 40px 10px 10px;
    /* Adjust right padding for the icon */
    border: 1px solid #E3E3E3;
    border-radius: 10px;
    background-color: transparent;
    font-family: 'Montserrat', sans-serif;
    background-image: url('/assets/icon/search.png');
    background-size: 20px;
    /* Adjust size as needed */
    background-repeat: no-repeat;
    background-position: right 10px center;
    /* Adjust position as needed */
    transition-duration: 100ms;
}

.search-bar input:focus {
    border-color: #007bff;
    outline: none;
    /* Remove default outline */
}

.filter {
    display: flex;
    justify-content: end;
    margin-bottom: 20px;
    align-items: center;
}

.time-filters {
    width: auto;
    font-family: 'Inter', sans-serif;
    display: flex;
    background-color: transparent;
    border-radius: 9px;
    padding: 10px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.05);
}

.time-filter {
    background-color: transparent;
    border: none;
    padding: 10px;
    margin-right: 5px;
    font-size: 13px;
    color: black;
    font-weight: 600;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
    border-radius: 8px;
}

.time-filter:last-child {
    margin-right: 0;
}

.time-filter:hover {
    background-color: #f0f0f0;
}

.time-filter.active {
    background-color: #E1F0FF;
}

.button-container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 30px;
}

.refresh-button {
    font-family: 'Montserrat', sans-serif;
    background-color: #E1F0FF;
    color: #007bff;
    border: none;
    border-radius: 20px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.refresh-button:hover {
    background-color: #d0e7ff;
}

.arbitrage-button {
    font-family: 'Montserrat', sans-serif;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 20px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s;
    margin-left: 10px; /* Add margin between buttons */
}

.arbitrage-button:hover {
    background-color: #0056b3;
}

.table-container {
    height: 400px; /* Define a height for the table container */
    overflow-y: auto; /* Enable vertical scrolling */
    padding: 10px;
    background-color: #FAFAFA;
    box-shadow: 0px 20px 50px rgba(0, 0, 0, 0.07);
    border-radius: 20px;
}

table {
    width: 100%;
    border-collapse: collapse;
    font-family: 'Inter', sans-serif;
}

table th,
table td {
    padding: 15px;
    text-align: left;
    font-weight: 600;
    white-space: nowrap; /* Prevent text from wrapping */
    background-color: #FAFAFA; /* Ensure transparency */
}

table th {
    position: -webkit-sticky; /* For Safari */
    position: sticky;
    top: 0;
    z-index: 2; /* Ensure the header stays on top of table rows */
    background-color: #FAFAFA;
}

table td {
    cursor: pointer;
}

.sticky-header {
    position: -webkit-sticky; /* For Safari */
    position: sticky;
    left: 0;
    background: #FAFAFA;
    z-index: 4;
}

.sticky-col {
    position: -webkit-sticky; /* For Safari */
    position: sticky;
    left: 0;
    background: #FAFAFA;
    z-index: 3;
}

.column {
    display: flex;
    align-items: center;
    gap: 6px;
    cursor: pointer;
}

.down {
    color: red;
}

.up {
    color: green;
}

.footer {
    margin-top: 24px;
    text-align: left;
    color: black;
    font-size: 14px;
    font-weight: 600;
}

.coin-logo {
    width: 24px;
    height: 24px;
    vertical-align: middle;
    margin-right: 8px;
}

.badge {
    color: #808A9D;
}

.chevron-icon {
    width: 10px;
    height: 6px;
    vertical-align: middle;
    margin-right: 4px;
}

/* Drawer styling */
.drawer {
    position: fixed;
    top: 0;
    right: -100%;
    width: 300px;
    height: 100%;
    background-color: #fff;
    box-shadow: -2px 0 5px rgba(0, 0, 0, 0.1);
    transition: right 0.3s ease;
    z-index: 1001; /* Ensure it's above the overlay */
}

.drawer.open {
    right: 0;
}

/* Overlay styling */
.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.3s ease;
    z-index: 1000; /* Ensure it's below the drawer */
}

.overlay.open {
    opacity: 1;
    visibility: visible;
}

.drawer-content {
    padding: 20px;
}

.close-drawer {
    display: flex;
    justify-content: end;
    margin-bottom: 8px;
}

.drawer .logo {
    margin-bottom: 30px;
    display: flex;
    align-items: center;
}

.drawer .menu {
    list-style: none;
    padding: 0;
}

.drawer .menu-item {
    margin-bottom: 20px;
}

.drawer .menu-item a {
    text-decoration: none;
    color: #333;
    font-size: 16px;
    display: flex;
    font-weight: normal;
    align-items: center;
    padding: 12px;
    display: flex;
    justify-content: center;
    border-radius: 10px;
}

.drawer .menu-item.active a {
    background-color: #0096FF;
    color: white;
}

.header-mobile {
    display: none;
}

#close-drawer {
    cursor: pointer;
}

#hamburger-menu {
    cursor: pointer;
}

.loadingContainer {
    display: flex;
    align-items: center;
}

.loadingText {
    margin-left: 4px;
    margin-right: 10px;
    font-family: 'Montserrat';
    font-size: 14px;
    font-weight: 500;
}

.spinner {
    border: 2px solid #f3f3f3; /* Light grey */
    border-top: 2px solid #3498db; /* Blue */
    border-radius: 50%;
    width: 10px;
    height: 10px;
    animation: spin 1s linear infinite;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

/* Modal Styling */
.modal {
    display: none; /* Hidden by default */
    position: fixed;
    z-index: 1050;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
    opacity: 0; /* Start with the modal hidden */
    transition: opacity 0.3s ease, transform 0.3s ease; /* Add transition for opacity and transform */
}

.modal-content {
    background-color: #fefefe;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 80%; /* Could be more or less, depending on screen size */
    max-width: 500px;
    border-radius: 10px;
    text-align: center;
    transform: translateY(-50px); /* Start with the modal slightly above its final position */
    transition: transform 0.3s ease; /* Add transition for transform */
}

/* Show Modal */
.modal.show {
    display: block; /* Show the modal */
    opacity: 1; /* Fade in */
    transform: translateY(0); /* Slide into place */
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
    cursor: pointer;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.input-group {
    margin-bottom: 15px;
    text-align: left;
}

.input-group label {
    display: block;
    font-weight: 600;
    margin-bottom: 5px;
}

.input-group select,
.input-group input {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
    transition: border-color 0.3s;
}

.input-group select:focus,
.input-group input:focus {
    border-color: #007bff;
    outline: none;
}

.calculate-button {
    width: 100%;
    padding: 10px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    font-family: 'Montserrat', sans-serif;
}

.calculate-button:hover {
    background-color: #0056b3;
}

.result {
    margin-top: 20px;
    font-size: 18px;
    text-align: center;
}

.arbitrage-title {
    font-family: 'Montserrat', sans-serif;
}

.img-flag {
    margin-right: 10px;
    vertical-align: middle;
}

.custom-dropdown {
    position: relative;
    width: 100%;
}

.custom-dropdown input {
    width: 100%;
    padding: 8px;
    border-radius: 5px;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

.dropdown-options {
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    max-height: 200px;
    overflow-y: auto;
    background-color: white;
    border: 1px solid #ccc;
    border-top: none;
    z-index: 1000;
    display: none;
    /* Initially hidden */
}

.dropdown-options .option {
    padding: 8px;
    cursor: pointer;
    border-bottom: 1px solid #eee;
}

.dropdown-options .option:hover {
    background-color: #f0f0f0;
}

/* Loading spinner styles */
.loading-spinner {
    border: 2px solid #f3f3f3; /* Light grey */
    border-top: 2px solid #3498db; /* Blue */
    border-radius: 50%;
    width: 16px;
    height: 16px;
    animation: spin 1s linear infinite;
    display: inline-block;
    vertical-align: middle;
    margin-right: 8px; /* Adjust the spacing as needed */
}

.dropdown-loading {
    font-size: 14px; /* Adjust the font size as needed */
    color: #333; /* Adjust the text color */
    display: inline-flex;
    align-items: center;
    margin-top: 8px; /* Optional: spacing from input */
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

/* Style for the disabled calculate button */
.calculate-button.disabled {
    background-color: #ccc; /* Greyed out background */
    cursor: not-allowed;
    opacity: 0.7;
}

/* Responsive Design */
@media (max-width: 768px) {
    .main-content {
        padding: 18px;
    }

    .sidebar {
        display: none;
    }

    .filter {
        display: flex;
        margin-bottom: 14px;
        flex-direction: row-reverse;
        justify-content: start;
        gap: 18px;
    }

    .time-filters {
        width: fit-content;
        margin-top: 4px;
    }

    .button-container {
        display: flex;
    }

    .header {
        display: none;
    }

    .header h1 {
        font-size: 20px;
    }

    .header p {
        font-size: 12px;
    }

    .header span {
        font-size: 12px;
    }

    .search-bar {
        margin-top: 8px;
        width: 100%;
    }

    .refresh-button {
        padding: 5px 10px;
        font-size: 14px;
    }

    .arbitrage-button {
        padding: 5px 10px;
        font-size: 14px;
    }

    .time-filter {
        padding: 7px;
        font-size: 12px;
    }

    .footer {
        font-size: 12px;
    }

    table th {
        font-size: 12px;
    }

    table td {
        font-size: 12px;
    }

    .content {
        padding: 10px;
        max-width: 100%;
        overflow-x: auto;
    }

    .table-container {
        padding: 0px 0px 0px 0px;
    }

    .header-mobile {
        display: flex;
        justify-content: space-between;
        align-items: start;
    }

    .header-mobile h1 {
        margin: 0;
        margin-bottom: 2px;
    }

    .header-mobile p {
        margin: 0;
    }

    .header-mobile span {
        margin: 0;
    }

    .header-mobile .title {
        margin-bottom: 4px;
    }

    .header-mobile {
        padding-top: 6px;
        margin-bottom: 24px;
    }

    .modal-content {
        margin: 25% 10px; /* Adjusted margin for smaller screens */
        width: auto; /* Allow the modal content to take available width with margins */
        max-width: none; /* Remove the max-width limitation */
    }

    .calculate-button {
        padding: 8px;
        font-size: 14px;
    }

    .result {
        font-size: 16px;
    }

    .loadingText {
        font-size: 12px;
    }
}
